.jobs {
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
}
.leftContainer {
  margin-right: 1rem;
  min-width: 20%;
  max-width: 20%;
}
.rightContainer {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  min-width: 80%;
}
.inputC {
  display: flex;
  align-self: flex-start;
}
.search {
  background-color: transparent;
  border: 1px solid #cbd5e1;
  font-weight: 500;
  color: white;
  min-width: 100%;
  padding: 0 1rem;
  border-radius: 5px 0 0 5px;
}
